nav {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  width: 100%;
  margin: 0px;
}

spacer {
  display: block;
  width: 30%;
  height: 30px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: fit-content;
  float: right;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
}

nav a:hover {
  background-color: #444;
}

centered_ {
  display: block;
  text-align: center;
}

:fullscreen {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

button, select {
  background: linear-gradient(to bottom, #55f 0%,#bbf 50%,#cfccff 100%);
  border: 3px outset #aaf;
  border-radius: 3px;
  margin: 1px;
}

button:hover, select:hover {
  background: linear-gradient(to bottom, #44e 0%,#aae 50%,#bebbee 100%);
  border: 3px inset #99e;
  border-radius: 3px;
  margin: 1px;
}

video#player {
  width: 100%;
  aspect-ratio: 16/9;
  display: block;
  background: linear-gradient(to bottom, #000 0%,#222 50%,#555 100%);
  margin-top:10px;
  margin-inline: auto;
  border: 4px inset grey;
  max-height: 80vh;
  max-width: 100vh;
}

img {
  image-rendering: auto;
}

@keyframes a37 {
  0% {
    bottom: -128px;
    left: -256px;
  }
  5% {
    bottom: 0;
    left: 0;
  }
  50% {
    bottom: 0;
    left: 0;
  }
  100% {
    bottom: -64px;
    left: -128px;
  }
}

img[id="37"] {
  position: fixed;
  bottom: -64px;
  left: -128px;
  animation-name: a37;
  animation-duration: 20s;
  height: 64px;
  aspect-ratio: 2/1;
}

@keyframes a2763 {
  0% {
    bottom: -200px;
    right: -400px;
  }
  5% {
    bottom: 0;
    right: 0;
  }
  55% {
    bottom: 0;
    right: 0;
  }
  85% {
    bottom: -100px;
    right: -200px;
  }
  100% {
    bottom: -100px;
    right: -200px;
  }
}

img[id="2763"] {
  position: fixed;
  bottom: -64px;
  right: -128px;
  animation-name: a2763;
  animation-duration: 20s;
  height: 100px;
  aspect-ratio: 2/1;
}